[Unit]
Description=RPi Jukebox
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rpi-jukebox/
Environment=FLASK_APP=jukebox.py
ExecStart=/usr/local/bin/flask run
Restart=always

[Install]
WantedBy=multi-user.target
