[Unit]
Description=Webhook
Documentation=https://github.com/adnanh/webhook

[Service]
ExecStart=/opt/webhook/webhook -hooks /etc/webhook.json --verbose
